# Backend API Base URL
NEXT_PUBLIC_APP_URL="http://127.0.0.1:3000"
NEXT_PUBLIC_API_URL="http://127.0.0.1:5000"
NEXT_PUBLIC_TELEGRAM_CLIENT_ID="sample_telegram_client_id"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="sample_cloud_name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="sample_upload_preset"
NODE_ENV="development"
